* {
    margin: 0;
    padding: 0;
    }

.XButtons button,
.RButtons button {
    width: 60px;
    height: 20px;
    font-size: 13px;
    border-radius: 5px;
    border: 1;
    border-color: #ffcab9;
    background-color: #ffffffcc;
    cursor:pointer;
    stroke-width: 2; 
    stroke: #C8CCD4;
}
.XButtons button:hover,
.RButtons button:hover {
    cursor: pointer;
    border-color: #8338ec;
}
/* body{
    background-image: url(src/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
} */

.taskRect {

    /* mix-blend-mode: soft-light; */
    background-color: rgba(225, 225, 225, 0.709);
    border-radius: 15px;
    margin:10px 60px 20px;
    height: 70%;
}
.taskText{
    font-family: Roboto sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.75);
    text-align:center;

}
.XButtons,
.RButtons{
    margin:0 auto 5%;
}
/* .head{
    background-color: aquamarine;
} */
.main-panel-table{
    height:100vh;
}
.forms{
    background-color: rgba(158, 221, 255, 0.687);
    border-radius: 30px;
    width:100%;
}
.outsideText{
    font-family: Roboto sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(63, 1, 66);
    text-align:right;
}
/* .imgPanel{
    text-align: center;
}
.tyanPanel{
    text-align: center;
} */
.Y-letter{
    font-family: Roboto sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.75);
    text-align:left;
}
.tyanImg{
    cursor: pointer;
}
#graph{
    background-color: #ffdcf8;
    border-radius: 30px;
}
.inputY{
    border-radius: 10px;
    padding: 1%;
}
.selected{
    background-color:brown;
}